
img{
    max-width: 100%;
}

p{
    margin: 0;
}

header, .blue{
    background-color: #2C3E50;
}

div.ms-green{
    background-color: #1ABC9C;
}

button.ms-green{
    background-color: #1ABC9C;
}

.cielo{
    background-color: #3A546D;
}

.img{
    
    width: 200px;
}

.ms-start{
    width: 200px;
}

.fa-star:before{
    font-size: 1.5rem;
}

div hr{
    border-top: 3px solid;
    opacity: unset;
    border-radius: 10px;
}

div.ms-skills{
    min-width: 355px;
}

div.ms-width{
    width: 100%;
}

li a.ms-width{
    height: 40px;
    width: 40px;
}